/*GENERAL STYLES*/

*, body {
padding:0;
margin:0;
}

a {
    text-decoration: none;
    font-family: 'Aller';
}

article {
margin: 50px auto 0 auto;
}

p {
font: 22px/35px 'Aller', sans-serif;
color: #3f3f3f;
}

h1, h2, h3, h4 {
    font-family: 'Aller';
}

h2 {
    font-size: 18px;
    color: rgb(0, 102, 50);
    margin-bottom: 10px;
}

.h2-container {
width:65px;
height: 65px;
padding: 20px;
border: 1px solid green;
border-radius: 65px;
margin:0 auto;
background-color: green;
-webkit-transition: opacity 1s;
transition: opacity 1s;
opacity: 0.5;
color: #fff;
}

.h2-container h2 {
    font-family: 'Aller';
    position: relative;
    top:20px;
    color: #fff;
}
 




/*---------------MENU-----------------*/



#menu{
height: 70px;
/*display: block;*/
border-bottom: 3px solid  rgba(255, 255, 255, 0.7);
z-index: 4;
position: fixed;
top: 0;
width: 100%;
-webkit-transition: background-color 1s;
transition: background-color 1s;
}

.scrolling {
background-color: #000;
-webkit-transition: background-color 1s;
transition: background-color 1s;
}

#logo {
display: block;
position: relative;
top: 8px;
    margin: 0 auto;
}

#menu #logo-wrapper {
width: 25%;
background-color: #f9f9f9;
height: 70px;
float: left;
}

#menu #nav-wrapper {
width: 60%;
/*background-color: #6faeb1;*/
background-color: rgba(0, 102, 50, 0.4);
height: 70px;
float: left;
}

#menu #widget-wrapper {
width: 15%;
background-color: rgba(0, 102, 50, 0.4);
height: 70px;
float: left;
}

#menu #widget-wrapper button {
z-index: 5;
}

#nav-wrapper ul{
        height: 100%;
width: 500px;
display: block;
margin: 0 auto;
white-space: nowrap;
}

#nav-wrapper ul li {
        height: 100%;
display: block;
float:left;
font-family: 'Aller';
font-size: 0.9em;
color:white;
}

#nav-wrapper a {
    line-height: 75px;
    display: inline-block;
    height: 100%;
    padding: 0 25px;
    color: white;
    
}

#nav-wrapper a:hover {
    background-color: rgba(0, 102, 50, 0.3);
}

/*----------------------------HEADLINE IMG-------------------------------------*/

#image_wrapper {
position:relative;

    height: 520px;
    width: 100%;
    margin: 0;
}

.head-img {
    position: relative;
    height: inherit;
    padding:0;
    margin:0;
    width:100%;
    z-index:-1;
}

.head-img div {
    height: inherit;
    width:100%;
    z-index:1;
    background-size:cover;
    background-POSITION: center;
}

/*----------------------------SLIDER-------------------------------------*/

#slider_wrapper {
position:static;

    height: 800px;
    width: 100%;
    margin: 0;
}

.image_slider {
    height: inherit;
    padding:0;
    margin:0;
    width:100%;
    z-index:-1;
}

.image_slider div {
    height: inherit;
    position:absolute;
    left:0;
    top:0px;
    width:100%;
    z-index:1;
    background-size:cover;
    background-POSITION: center;
}

.image_slider div.active{z-index:3}
 
#headline {
    z-index: 3;
    position: absolute;
    bottom: 60px;
    width:100%;
    padding-bottom: 20px;
}

#headline h1 {
    font-family: 'Aller';
    width: auto;
    display: inline;
    color: #fff;
    font-size: 3em;
    margin: 0;
    padding: 20px 40px 20px 100px;
    background-color: rgba(0, 102, 50, 0.6);
}

#mainheader {
    z-index: 3;
    text-align: center;
    position: absolute;
    top: 35%;
    width:100%;
    margin: 0 auto;
    padding-bottom: 20px;
}

#mainheader h1 {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Aller';
    font-size: 8em;
    margin: 0 0 15px 0;
}

#mainheader .button {
    margin: 5px 10px 0 10px;
    padding: 10px;
    text-decoration: none;
    font-family: 'Source Sans Pro';
    color: white;
    border: 1px solid #fff;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
} 

mainheader .button:hover {
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
}

#mainheader .button.two {
background-color: rgba(0, 102, 50, 0.6);
border: 1px solid rgba(255, 255, 255, 0.8);
}
#mainheader .button.two:hover {
background-color: rgba(255, 255, 255, 0.6);
}

#mainheader hr {
    margin: 0 auto 25px auto;
    display:block;
    width: 500px;
    height: 3px;
    background-color: #fff;
}

.wrapper {
/*    max-width: 1040px;*/
    width: 100%;
    margin:0 auto;
    position: relative;
    }

.wrapper-rezerwacje {
/*    max-width: 1040px;*/
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    background-image: url(../images/rez_1.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    }

.column {
width: 48%;
margin: o 1%;
}

.pogoda_button {
    margin:18px 40px 0 5px;
	background-color: rgb(0, 140, 120);
    border: none;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Source Sans Pro';
	font-size:13px;
	padding:5px 8px;
	text-decoration:none;
    float: left;
}
.pogoda_button:hover {
	
}
.pogoda_button:active {
	position:relative;
	top:1px;
}

.arrow-down {
/*display: block;*/
margin: 7px 0 0 5px;
float: right;
	width: 0; 
	height: 0; 
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	
	border-top: 4px solid white;
}

.arrow-down-button {
/*display: block;*/
opacity: 0.8;
cursor:pointer;
}

.arrow-down-button:hover {
/*display: block;*/
opacity: 0.5;
}

.center {
text-align: center;
margin: 0 auto;
width: 50%;
}

.vertical-line {
width: 1px;
height: 60px;
margin: 15px auto;
background-color: gray;
}

.scrolling-effect {
background-color: green;
}



.cd-top {
  display: inline-block;
  height: 30px;
  width: 30px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(0, 102, 50, 0.6) url(img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 40px;
    width: 40px;
    right: 30px;
    bottom: 30px;
  }
}
.column1-2 {
    width: 45%;
    padding:0 0 0 5%;
    float:left;
}
.column1-2-nopadding {
    width: 50%;
    padding: 0;
    float: left;
    height: 400px;
    overflow: hidden;
}

.column1-2 p {
    font-size: 18px;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.sidebar-info p, .sidebar-info h2 {
font-size: 0.9em; 
text-align: center;
}

.sidebar-info p {
    line-height: 1.5em;
    margin: 15px 0;
}

.sidebar-info {
    padding: 15px;
    border: 3px double rgb(0, 102, 50);
    border-radius: 5px;
    background-color: #fff;
}

.sidebar-info hr {
    width: 70%;
}

hr {
    border: 0; border-bottom: 2px dashed #ccc;
    color: #f9f9f9;
    width: 100%;
    margin: 0 auto;
}


img {
    max-width: 100%;
}



.spaceafter {
    margin-bottom: 40px;
}





footer {
    height: 300px;
    width: 100%;
    background-color: rgb(0, 102, 50);
}





/*
.text-img {
    box-sizing: border-box;
    padding: 0 0 20px 0;
    margin: 0;
    background-color: #000;
}
*/

.rezerwacje-button {
width: 30%;;
display: block;
float:left;
text-decoration: underline;
margin: 25px 15px 0 0;
font-family: 'Aller';
font-size: 0.7em;
color:white;
}

#pogoda {
    float: right;
    margin-right: 10px;
}


.text-img {
    max-height: 300px;
    border: 1px solid lightgray;
    margin-top: 25px;
}

.absolute-nopad {
    position: absolute;
    padding: 0;
}

.column1-2-r {
    float: right;
}

.column1-1 {
    width: 100%;
}

.history-images {
    background-color: rgba(0, 0, 0, 0.05);
}
